@using JKLHealthCare11810937.Helpers
@model JKLHealthCare11810937.Models.DBModels.Caregiver

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Caregiver</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qualifications)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qualifications)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd class = "col-sm-10">
            @EnumHelper.GetDisplayName(Enum.Parse<AvailabilityOption>(Model.Availability))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CaregiverId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>